[submodule "kuro"]
	path = kuro
	url = https://github.com/Marc3842h/kuro.git
	branch = master
[submodule "shirogane"]
	path = shirogane
	url = https://github.com/Marc3842h/shirogane.git
	branch = master
[submodule "libakame"]
	path = libakame
	url = https://github.com/Marc3842h/libakame.git
	branch = master
[submodule "libosu"]
	path = libosu
	url = https://github.com/cyanidee/libosu.git
	branch = master
